/* Title 1  */
.title1 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 32px;
}

/* Title 1 Bold */ 
.title1Bold {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 32px;
}

/* Title 2 */ 
.title2 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 25px;
}

/* Title 2 Bold */ 
.title2Bold {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
}

/* Title 3 */ 
.title3 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
}

/* Title 3 Bold */ 
.title3Bold {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
}

/* Title 4 */ 
.title4 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

/* Title 4 Bold */ 
.title4Bold {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

/* Title 5 */ 
.title5 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

/* Title 5 Bold */ 
.title5Bold {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

/* Subtitle 1 */
.subtitle1 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 25px;
}

/* Subtitle 2 */
.subtitle2 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}

/* Subtitle 2 Bold */
.subtitle2Bold {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

/* Subtitle 3 */
.subtitle3 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
}

/* Subtitle 3 Bold */
.subtitle3Bold {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
}

/* Subtitle 4 */
.subtitle4 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
}

/* Subtitle 4 Bold */
.subtitle4Bold {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

/* Subtitle 5 */
.subtitle5 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
}

/* Body 1 */
.body1 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 200;
    font-size: 17px;
    line-height: 20px;
}

/* Body 2 */
.body2 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 18px;
}

/* Button */
.buttonText {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
}

/* Header */
.header-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

/* Custom  */
.font-custom {
    font-family: "Roboto";
}